# Affichage

## La fonction print()

La fonction `print()` affiche l'argument qu'on lui passe entre parenthèses **et** un retour à ligne.

In [3]:
print("Bonjour tout le monde !")

Bonjour tout le monde !

Ce retour à ligne supplémentaire est ajouté **par défaut**. Si on ne souhaite pas l'afficher, on peut utiliser l'argument par "mot-clé" `end`.

In [4]:
print("Bonjour tout le monde !", end="")

Bonjour tout le monde !

In [9]:
print("Bonjour tout le monde !") ; print("Comment allez-vous ?")

Bonjour tout le monde !
Comment allez-vous ?

**Remarque :** le caractère `;` sert à séparer plusieurs instructions Python sur une même ligne.

In [11]:
print("Bonjour tout le monde ! ", end="") ; print("Comment allez-vous ?")

Bonjour tout le monde ! Comment allez-vous ?

La fonction `print()` peut afficher le contenu d'une variable quel que soit son type.

In [20]:
name = "Jean" ; age = 20
print(name)
print(age)

Jean
20

Il est possible d'afficher le contenu de plusieurs variables (quel que soit leur type) en les séparant par des virgules.

In [31]:
print(name, "a", age, "ans")

Jean a 20 ans

**Remarque :** afin d'afficher plusieurs éléments de texte sur une seule ligne, le séparateur `,` a été utilisé entre les différents éléments. Python a également ajouté un **espace** à chaque fois que l'on a utilisé le séparateur `,`. On peut modifier ce comportement en passant à la fonction `print()` l'argument par mot-clé `sep`.

In [32]:
print(name, "a", age, "ans", sep="")
print(name, "a", age, "ans", sep="-")
print(name, "a", age, "ans", sep="*")

Jeana20ans
Jean-a-20-ans
Jean*a*20*ans

Pour afficher deux chaînes de caractères l'une à côté de l'autre sans espace, on peut donc :
- les concaténer (rappel : la concaténation se fait avec le symbole `+`),
- utiliser l'argument par mot-clé `sep` avec une chaîne de caractères vide

In [30]:
string1 = "chat"
string2 = "chien"
print(string1+string2)
print(string1, string2, sep="")

chatchien
chatchien

## Ecriture formatée

La méthode `.format()` permet une meilleure organisation de l'affichage des variables.

In [33]:
print("{} a {} ans".format(name, age))

Jean a 20 ans

**Remarque :** il est possible d'indiquer l'ordre d'affichage des variables grâce aux accolades `{}`, avec 0 pour la variable à afficher en premier, 1 pour la variable à afficher en second, etc. Cela permet de modifier l'ordre dans lequel sont affichées les variables.

In [35]:
print("{0} a {1} ans".format(name, age))
print("{1} a {0} ans".format(name, age))

Jean a 20 ans
20 a Jean ans

Les accolade `{}` peuvent être utilisées également pour spécifier un format afin de faciliter l'écriture du résultat.

In [39]:
i = 34.7879783705980890
print(i)

34.78797837059809

On souhaite formater le résultat en un *float* afin de n'afficher que deux décimales puis trois.

In [40]:
print("{:.2f}".format(i))
print("{:.3f}".format(i))

34.79
34.788

**Remarque :** le formatage avec `.xf` (x étant un entier positif) renvoie un résultat arrondi.

Il est possible de combiner le formatage (à droite des 2 points) ainsi que l'emplacement des variables à substituer (à gauche des 2 points).

In [60]:
print("Valeur de i avec 2 décimales = {0:.2f} et avec 3 décimales = {0:.3f}".format(i))

Valeur de i avec 2 décimales = 34.79 et avec 3 décimales = 34.788

In [59]:
j = 78.9028374
print("Valeur de i avec 2 décimales = {0:.2f} et valeur de j avec 3 décimales = {1:.3f}".format(i, j))

Valeur de i avec 2 décimales = 34.79 et valeur de j avec 3 décimales = 78.903

Il est possible de formater des entiers avec la lettre `d`.

In [49]:
year = 2021
>>> print("Nous sommes en {:d} !".format(year))

Nous sommes en 2021 !

Il est possible de préciser sur combien de caractères vous souhaitez qu'un résultat soit écrit et comment se fait l'alignement (à gauche, à droite ou centré).
`>` spécifie un alignement à droite, `<` spécifie un alignement à gauche et `^` spécifie un alignement centré. Il est également possible d'indiquer le caractère qui servira de remplissage lors des alignements (l'espace est le caractère par défaut).

In [51]:
print(11) ; print(1111)

11
1111

In [52]:
print("{:>10d}".format(11)) ; print("{:>10d}".format(1111))

        11
      1111

**Détails :** Les `:` définissent qu'il va y avoir un formatage, avec un alignement à droite via `>` sur 10 caractères.

In [72]:
print("{:0^10d}".format(11)) ; print("{:0^10d}".format(1111))

0000110000
0001111000

Les `:` définisent qu'il va y avoir un formatage, avec un alignement centré via `^` sur 10 caractères avec un remplissage de `0` (**par défaut : espace**).

Ce formatage est également possible sur des chaînes de caractères avec la lettre `s` (comme *string*).

In [57]:
print("gene dnaA") ; print("gene S2")

gene dnaA
gene S2

In [58]:
print("gene {:>4s}".format("dnaA")) ; print("gene {:>4s}".format("S2"))

gene dnaA
gene   S2

Pour les *floats*, il est possible de combiner le nombre de caractères à afficher avec le nombre de décimales.

In [62]:
print("{:>7.2f}%".format(10.7899394))
print("{:>10.2f}%".format(10.7899394))

  10.79%
     10.79%

**Remarque :** si on veut afficher des accolades littérales et utiliser la méthode `.format()` en même temps, il faut doubler les accolades pour échapper au formatage.

In [70]:
print("Accolades littérales {{}} et pour le formatage {}".format("pas besoin de doubler les accolades !"))

Accolades littérales {} et pour le formatage pas besoin de doubler les accolades !